body {
  font-family: 'Lobster', cursive;
    background: rgb(0,36,34);
background: linear-gradient(90deg, rgba(0,36,34,0.8071603641456583) 0%, rgba(99,112,156,0.8127626050420168) 60%, rgba(127,140,136,1) 100%);
    
  }
  @media only screen and (max-width: 600px) {
    form {
      width: 100%;
      
      }
    }
  
  form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    
    color: blue;
  }
  textarea {
    width: 100%;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(19, 19, 19);
    border-radius: 40px;
    border-color: burlywood;
    width: 50vw; 
    height: 6vwpx;
    resize: none;
  }
  button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
  }
  button:hover {
    background-color: darkblue;
  }
  #write {
    margin-top: 10px;
    font-size: 40px;
    border: 1px solid rgb(204, 248, 182);
  padding: 10px;
  background-color: rgb(36, 15, 28);
  border-radius: 30px;
  color: darkgray;
  text-align: left;
  }
  .delete{
    background-color: rgb(107, 116, 116);
    justify-content: flex-end;
    display: flex;
    margin-top: -5px;
  }
  #check {
    color: red;
    font-size: 15px;
  }
  h3{
   
  color: #8D0AFF;
  font-size: 30px;
  text-shadow: -2px -2px 0px #800000;
  margin-top: -15px;
  }