body {
  
  font-family: 'Lobster', cursive;
  background: rgb(0,36,34);
background: linear-gradient(90deg, rgba(0,36,34,0.8071603641456583) 0%, rgba(99,112,156,0.8127626050420168) 60%, rgba(127,140,136,1) 100%);
  
  
  
  background-size: cover;
  
  animation: myAnim 3s ease 0s 1 normal forwards;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
 
}

.jumping {
  animation: jump 0.5s ease-out 2;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}


  
  @media only screen and (max-width: 600px) {
    form {
      width: 100%;
      
      }
    }
  
  form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
  }
  h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    
    color: rgb(135, 16, 175);
  }
  textarea {
    width: 100%;
    font-size: 1em;
    
    margin-bottom: -40px;
    background-color: rgb(19, 19, 19);
    border-radius: 40px;
    border-color: burlywood;
    width: 50vw; 
    height: 10vw;
    resize: none;
    color : white;
    word-wrap: break-word;
   
  }
  button {
    background-color: blue;
    
    color: white;
    padding: 10px 20px;
   border-style:none ;
    border-radius: 30px;
    
    cursor: pointer;
    
    
  }
  #ok{
    margin-bottom: 40px;

  }
  #ok:hover {
    background-color: darkblue;
  }
  #write {
    margin-top: 10px;
    font-size: 6vm;
    border: 1px solid rgb(204, 248, 182);
  padding: 10px;
  background-color: rgb(36, 15, 28);
  border-radius: 30px;
  color: darkgray;
  text-align: left;
  word-wrap: break-word;
  }
  .delete{
    background-color: rgb(94, 8, 15);
    justify-content: flex-end;
    display: flex;
    margin-top: -5px;
  }
  #check {
    color: red;
    font-size: 15px;
  }
 
  .edit{
    background-color: rgb(18, 189, 103);
    justify-content: flex-end;
    display: flex;
    margin-top: -8.24em;
    margin-left: 6.2em;
    height: 2.6em;
  }
 .edit:hover{
  background-color: #0aff33;
 }
 .delete:hover{
  background-color: #ec0808;
 }
